input {
    background-color: blueviolet;
}

button {
    background-color: rgb(146, 90, 197);
    color: cornsilk;
    padding: 10px 20px;
    border:2px solid #cab4df;
    cursor: pointer;

}

button:hover {
    background-color: deepskyblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}